@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @if (ViewBag.Login == null)
        {
            <h1 class="display-4">Welcome</h1>
            <p>
                Please <a asp-area="" asp-controller="Users" asp-action="Login">Login</a> or check out our <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>!
            </p>
        }
        else
        {
            <h1 class="display-4">Welcome @ViewBag.Login</h1>
            <p>
                Please check out our <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>!
            </p>
        }

    </div>
